from . import *

DEBUG = True
TEMPLATE_DEBUG = DEBUG

SECRET_KEY = ''

if 'test' in sys.argv:
# use sqlite3 for test:
    DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.sqlite3',
        }
    }
else:
    DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.postgresql_psycopg2',
            'NAME': '',
            'USER': '',
            'PASSWORD': '',
        }
    }
